.image{
    background-image: url('img/alley-tokyo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 35vw;
   
}

.content{
    height: 100vh;
    width: 65vw;
}
#header{
    color: white;
    font-size: 3rem;
    width: 100%;
    margin-top: 30vh;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
#header p{
    font-family: 'NemoyMedium';
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    display: flex;
    margin: 0;
}
#credit{
    font-size: .7rem;
    background-color: rgba(0,0,0,0.6);
    color: white;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#contentHead,#contentFoot{
    background-color: #b1cc675e;
    height: 33vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: auto;
}
#contentFoot{
    flex-direction: column;
}
#form{
    height: 34vh;
}
#createAccount{
    color: rgb(0, 0, 0);
    background-color: rgb(165, 59, 207);
    border: rgb(165, 59, 207) 2px solid;
    border-radius: 4px;
}
p{
    margin: 0;
}
#createAccount:hover{
    color: #b1cc67;
    border-color: #000000;
    cursor: pointer;
    
}
#createAccount:active{
    
    box-shadow: inset 0px 0px 10px #000000;
}
input{
    border: 2px rgba(0, 0, 0, 0.307) solid;
    border-radius: 4px;
    width: 165px;
    /* box-sizing: border-box; */
}
input:focus{
    border: none;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.24);
}
input:not(:placeholder-shown):invalid{
    border: 2px red solid;
}
input:focus:invalid{
    border: 2px rgba(0, 0, 0, 0) solid;
}
#form{
    display: flex;
    align-items: center;
}
form{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
    justify-content: center;
}
form div{
    display: flex;
    flex-direction: column;
}
.password-error{
    color: red;
    font-size: 0.8rem;
}