.image{
    background-image: url('img/alley-tokyo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 35vw;
   
}

.content{
    height: 100vh;
    width: 65vw;
}
#header{
    color: white;
    font-size: 3rem;
    width: 100%;
    margin-top: 30vh;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
#header p{
    font-family: 'NemoyMedium';
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    display: flex;
    margin: 0;
}
#credit{
    font-size: .7rem;
    background-color: rgba(0,0,0,0.6);
    color: white;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#contentHead,#contentFoot{
    background-color: #b1cc675e;
    height: 33vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: auto;
}
#contentFoot{
    flex-direction: column;
}
#form{
    height: 34vh;
}
#createAccount{
    color: rgb(32, 32, 32);
    background-color: rgb(165, 59, 207);
}
p{
    margin: 0;
}